.inputMain {
    background: none;
    position: fixed;
    top: 60px;
    margin-left: 2.5%;
    width: 100%;
}

.button {
    font-size: small;
    color: white;
    background-color: rgba(67, 89, 117, 0.445);
    border: 0;
    border-radius: 0.1rem;
    padding: 0.6rem 0.8rem;
}

.inputBar {
    background-color: rgba(67, 89, 117, 0.445);
    color: white;
    border: 0;
    margin-left: 10px;
    border-radius: 0.1rem;
    width: 30%;
    height: 40px;
    padding: 0rem 1rem;
}

.dateTime {
    margin-left: 10px;
    color: white;
    height: 40px;
}

.todoList {
    margin-left: 2.5%;
    margin-top: 2.5%;
    font-size: 30px;
    font-family: inherit;
    color: white;
}

.theList {
    font-size: medium;
    list-style: none;
    padding-left: 0;
    width: 250px;
}

.todoList .theList li {
    color: #333;
    background-color: rgba(255,255,255,.5);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    list-style: none;
  }